/node_modules
/oh_modules
/local.properties
/build-profile.json5
/.idea
.vscode
.DS_Store
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.arts
/.codeartsdoer
*.p12
*.p7b
*.cer
*.jks

/entry/build-profile.json5
